<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Filtros de las rutas -->
    <filter>
        <filter-name>RutasParticipanteFiltro</filter-name>
        <filter-class>com.fisi.sigece.filtros.RutasParticipanteFiltro</filter-class>
    </filter>
    <filter>
        <filter-name>RutaLoginFiltro</filter-name>
        <filter-class>com.fisi.sigece.filtros.RutaLoginFiltro</filter-class>
    </filter>
    <filter>
        <filter-name>RutasAdminFiltro</filter-name>
        <filter-class>com.fisi.sigece.filtros.RutasAdminFiltro</filter-class>
    </filter>
    <filter>
        <filter-name>SinCacheFiltro</filter-name>
        <filter-class>com.fisi.sigece.filtros.SinCacheFiltro</filter-class>
    </filter>
    <!-- Fin de los Filtros de las rutas -->
    <!-- Controlador de autenticacion -->
    <filter-mapping>
        <filter-name>SinCacheFiltro</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RutasAdminFiltro</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RutasParticipanteFiltro</filter-name>
        <url-pattern>/participante/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RutaLoginFiltro</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.autentificacion.LoginControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.autentificacion.LogoutControlador</servlet-class>
    </servlet>
    <!-- Fin controlador de autenticacion -->
    <!-- Controladores para las rutas del admin -->
    <servlet>
        <servlet-name>HomeAdminControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.HomeAdminControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerExpositoresControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.expositores.VerExpositoresControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarExpositorControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.expositores.RegistrarExpositorControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarSupraeventoControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.supraeventos.RegistrarSupraeventoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarioSupraeventosControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.supraeventos.CalendarioSupraeventosControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerAmbientesControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.ambientes.VerAmbientesControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarAmbienteControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.ambientes.RegistrarAmbienteControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarAmbienteControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.ambientes.EliminarAmbienteControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarAsistenciaControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.asistencias.RegistrarAsistenciaControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnularAsistenciaControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.asistencias.AnularAsistenciaControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarAmbienteControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.ambientes.EditarAmbienteControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarExpositorControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.expositores.EliminarExpositorControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarExpositorControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.expositores.EditarExpositorControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerDetallesEventoControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.eventos.VerDetallesEventoControlador</servlet-class>
    </servlet>
    <!-- Fin controladores para las rutas del admin -->
    <!-- Controladores para las rutas del participante -->
    <servlet>
        <servlet-name>HomeParticipanteControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.participantes.HomeParticipanteControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventosProximosControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.participantes.EventosProximosControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MisSupraeventosControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.participantes.supraeventos.MisSupraeventosControlador</servlet-class>
    </servlet>
    <!-- Fin controladores para las rutas del participante -->
    <!-- MAPEO DE RUTAS -->
    <!-- Ruta de autenticación -->
    <servlet>
        <servlet-name>DetallesEvento</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.participantes.eventos.DetallesEventoPartcipanteControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscribirEnSupraeventoControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.participantes.inscripcion.InscribirEnSupraeventoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnularInscripcionControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.participantes.inscripcion.AnularInscripcionControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerSupraeventosActualesControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.supraeventos.VerSupraeventosActualesControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerAsistenciasEventoControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.asistencias.VerAsistenciasEventoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarEventoControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.eventos.RegistrarEventoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerDetallesSupraeventoControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.supraeventos.VerDetallesSupraeventoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupraeventosProximosControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.participantes.supraeventos.SupraeventosProximosControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallesSupraeventoControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.participantes.supraeventos.DetallesSupraeventoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroParticipante</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.registro.RegistroParticipante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteAsistenciasControlador</servlet-name>
        <servlet-class>com.fisi.sigece.controladores.admin.asistencias.ReporteAsistencias</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControlador</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControlador</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!-- Fin rutas de autenticación -->
    <!-- Rutas del admin -->
    <servlet-mapping>
        <servlet-name>HomeAdminControlador</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerExpositoresControlador</servlet-name>
        <url-pattern>/admin/expositores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarExpositorControlador</servlet-name>
        <url-pattern>/admin/expositores/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarioSupraeventosControlador</servlet-name>
        <url-pattern>/admin/supraeventos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarSupraeventoControlador</servlet-name>
        <url-pattern>/admin/supraeventos/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerDetallesEventoControlador</servlet-name>
        <url-pattern>/admin/eventos/detalles/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarEventoControlador</servlet-name>
        <url-pattern>/admin/eventos/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerAmbientesControlador</servlet-name>
        <url-pattern>/admin/ambientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarAmbienteControlador</servlet-name>
        <url-pattern>/admin/ambientes/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarAmbienteControlador</servlet-name>
        <url-pattern>/admin/ambientes/eliminar/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarAmbienteControlador</servlet-name>
        <url-pattern>/admin/ambientes/editar/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarExpositorControlador</servlet-name>
        <url-pattern>/admin/expositores/eliminar/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarExpositorControlador</servlet-name>
        <url-pattern>/admin/expositores/editar/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarAsistenciaControlador</servlet-name>
        <url-pattern>/admin/asistencias/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnularAsistenciaControlador</servlet-name>
        <url-pattern>/admin/asistencias/anular</url-pattern>
    </servlet-mapping>
    <!-- Fin rutas del admin -->
    <!-- Rutas del participante -->
    <servlet-mapping>
        <servlet-name>HomeParticipanteControlador</servlet-name>
        <url-pattern>/participante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventosProximosControlador</servlet-name>
        <url-pattern>/participante/eventos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesEvento</servlet-name>
        <url-pattern>/participante/eventos/detalles/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnularInscripcionControlador</servlet-name>
        <url-pattern>/participante/supraeventos/inscripcion/anular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MisSupraeventosControlador</servlet-name>
        <url-pattern>/participante/supraeventos/inscritos</url-pattern>
    </servlet-mapping>
    <!-- Fin rutas del participante -->
    <!-- Rutas de error -->
    <error-page>
        <error-code>400</error-code>
        <location>/vistas/error/400.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/vistas/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/vistas/error/401.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/vistas/error/403.jsp</location>
    </error-page>
    <!-- Fin de rutas de error -->
    <servlet-mapping>
        <servlet-name>InscribirEnSupraeventoControlador</servlet-name>
        <url-pattern>/participante/supraeventos/inscripcion/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerSupraeventosActualesControlador</servlet-name>
        <url-pattern>/admin/supraeventos/actuales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerAsistenciasEventoControlador</servlet-name>
        <url-pattern>/admin/asistencias/evento/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerDetallesSupraeventoControlador</servlet-name>
        <url-pattern>/admin/supraeventos/detalles/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupraeventosProximosControlador</servlet-name>
        <url-pattern>/participante/supraeventos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesSupraeventoControlador</servlet-name>
        <url-pattern>/participante/supraeventos/detalles/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroParticipante</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteAsistenciasControlador</servlet-name>
        <url-pattern>/admin/eventos/asistencias/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
